<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="mostrarMenu()">
                <ion-icon slot="start" name="menu-outline"></ion-icon>

            </ion-button>
        </ion-buttons>
        <ion-title>card</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Subtitulo 1</ion-card-subtitle>
            <ion-card-title>Titulo 1</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p class="cardPrueba">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure veritatis ea explicabo et illo expedita nam quis sit, odit eaque repudiandae sequi mollitia enim asperiores vero nobis aliquam. Consequuntur, quas.
            </p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item>
            <ion-icon slot="start" name="pin" color="primary"></ion-icon>
            <ion-label>texto lo que sea</ion-label>
            <ion-button fill="outline" slot="end" routerLink="/alert">
                View
            </ion-button>
        </ion-item>
        <ion-card-content>
            <p class="cardPrueba">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos ea qui necessitatibus explicabo possimus quam ex quidem accusamus perferendis ipsam, recusandae similique eum aliquid! Eius autem neque aliquam consequuntur vero!</p>
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle class="Titulo">Nikola Tesla</ion-card-subtitle>
            <ion-card-title>Creemos en la ciencia</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p class="cardPrueba">
                El mas pulento ganador de la octaba ronda Esta aplicacion movil cree en la ciencia
            </p>
            <img src="assets/tesla.jpg" alt="">
        </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-item href="#">
            <ion-icon class="wifi" slot="start" name="wifi"></ion-icon>
            <ion-label>Wifi</ion-label>
        </ion-item>
        <ion-item href="#">
            <ion-icon slot="start" name="walk"></ion-icon>
            <ion-label>Walk</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="warning"></ion-icon>
            <ion-label>Warning</ion-label>
            <ion-button expand="full" fill="outline" shape="round" routerLink="/action-sheet">
                Click me
            </ion-button>
        </ion-item>
    </ion-card>



</ion-content>